/* CSS reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*, ::after, ::before {
    box-sizing: inherit;
}
html{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

body{
    font-family: Sans-serif;
}

img{
    height: 100%;
}
div {
    display: block;
}


/* Nav bar */
.top-nav{
    display:flex;
    justify-content: space-between;
    height: 125px;
    padding: 1% 3.5%;
}

.links{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1.5px;
    line-height: 1.2rem;
    text-transform: uppercase;
    padding: 0.8em 1em;
    
}
.links > li{
    margin-right: 20px;
    cursor: pointer;
}
.links > li:hover {
    background-color: #b9b9b9;
  }

.links > li:last-child{
    margin-right: 0px;

}

/* hero */
.hero{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    height:100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url("./images/hero-background.jpg"); ;
}

.hero-content{
    padding: 20vh 0 10vh 0; 
    width: 90vw;
    margin:3% 2.5%;
    overflow: hidden;
    align-items: center;
    
}

.hero-heading{
    font-size: 3rem;
    font-family: 'Work Sans', sans-serif;
    text-align: center!important;
    height: 50%;
    margin-bottom: 0.6rem;
    line-height: 3.2rem;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-left: 30px;
    padding-right: 30px;
}

/* Foundations */

.foundations{
    background-color: #f5f5f5;
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
    margin-bottom: 0px;
    overflow: hidden;
    position: relative;
    width: 100%;
    display: block;

}
.foundations-content{
    position: relative;
    width: 100vw;
    margin-left: 0%;
    margin-right: 7%;
    letter-spacing: 1px;
    height:100% ;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    margin-bottom: 0.6rem;
    line-height: 1;
    color: #212121;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;

    
}
.titles{
    width: 100%;
    text-transform: uppercase;
    font-family: 'The Mix Black' sans-serif;
}

.main-title {
    margin-bottom: 2.5rem;
}

.text-center {
    text-align: center;
}


.justify-content-center{
    justify-content: center!important;
}

.foundations-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.2vw;
    margin: 10px;
    text-align: center;
    height: 100%;
}
.foundation-bg{
    display: flex;
    background-color: #f5f5f5;
    height: auto;
    margin:0px;

}
.foundation{
    height: 370px;
    background-color: #fff;
    margin:10px;
    padding:12%;
}
.mt-3 {
    margin-top: 1rem!important;
}
.mb-0 {
    margin-bottom: 2!important;
    font-family: 'Crimson Text', serif;
    color: dimgrey;
}
h5{
    font-family: 'Work Sans', sans-serif;
    font-size: 15px;
    font-weight: 900;
    line-height: 1.25;
    color: #212121;
}

#smart-design-image{
    width:100px;
}
#sustainability-img{
    width: 110px;
}
#well-being-image{
    width: 150px;
    margin-top: 12%;
}

/* video section */
.col-md-8 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.666667%;
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}
#video-block{
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url("./images/parallax-4.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: cover;
    z-index: 1;
    width: 100%;
    background-position: 50% -413px;"
}

.section-content{
    padding:1%;
    position: relative;
}
#the-video-div{
 
    padding-top: 1%;
    padding-bottom: 7%;

    height: 45%;
}
#explore-title{
    color: #fff;
    font-size: 30px;
    font-family:  'Work Sans', sans-serif;
    
}

/* join section */
.join{
    display: flex;
    padding-bottom: 5%;
    position: relative;
    display: block;
    background-color: #fff;
    height: 100%;
    padding-right: 0%;
    
}
.join-heading{
    text-align: center;
    padding: 2%;

}
.list-style{
    list-style: none;
}
.grouped{
    display: flex;
    flex-grow: grow;
    margin-right: 0%;
    height: auto
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 0%;
    padding-bottom: 0%;
}
.grouped>div{
    font-size: 18px;
    margin-left: 40px;
    margin-bottom: 40px;
    align-items: center;
    width: 100%;
    letter-spacing: 1px;
}
grouped>div:h5{
    font-weight: bolder;
    font-size:large;
}

.grouped>div:first-child{
    margin-right: 40px;

}
.img-fluid {
    max-width: 100%;
    height: auto;
    display: inline;
}
.push-inside{
    padding: 1%;
}
li{
    display: list-item;
    text-align: -webkit-match-parent;
    font-weight: bold;
    margin-bottom: 20px;
}
::marker{
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
}
#join-bdd-img{
    height: 50%;
    width: 50%;
}
.list-style.list-img {
    list-style-image: url("./images/bullet5.png");
}
.pricing:hover {
    box-shadow: 0px 6px 32px 0px rgb(0 0 0 / 13%);
    transform: translateY(-5px);
}
.background-image-cover-left {
    background-position: center left;
    background-size: cover;
    background-repeat: no-repeat;
}
.background-white {
    background-color: #ffffff;
}
.pricing {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 25px;
    border-radius: 0.3rem;
    /* overflow: hidden; */
    box-shadow: 0px 4px 15px 0px rgb(0 0 0 / 6%);
    transition: all 200ms linear;
}
.move-group{
    display: block;
    
}
.bb{
    font-weight: 900;
    font-size: 18;
    color: #646464;
}

/* preferred section */
.preferred{
    
    align-items: center;
    background-image: url("./images/parallax-light.jpg");
}
.preferred-content{
    padding: 3%;
    margin-top: 5px;
}
.preferred-for{
    display: flex;
    flex-direction: row;
    padding-bottom: 0;
    margin-bottom: 0;
}
.h3-pad{
    padding: 1%;
    text-align: center;
}
.contained-in{
    display: flex;
    align-items: center;
    margin-left: 3%;
    width:100%;
}
.pref{
    margin:50px;
    padding: 1%;
}
.contained-in>div:first-child{
    margin-left: 10%;
    margin-top: 0px;
}
.contained-in>div:nth-child(2){
    margin-top: 25px;
}
.contained-in>div:nth-child(3){
    margin-top: 45px;
}
.contained-in>div:last-child{
    margin-top: 65px;
    margin-left: 0;
}
.imgs-preferred{
    width:100%;
    justify-content: center;
}
.stats-preferred>p{
    margin-top: 1%;
    text-align: center;
    vertical-align: top;
    line-height: 5vh;
    height: 5vh;
    -webkit-text-stroke-width: 2px;
    font-family: 'Work Sans', sans-serif;
    font-size: 5vh;
    font-weight: 200;
    color: transparent;
}

.titles-preferred{
    margin-top: 20px;
    text-overflow: clip;
    text-align: center;
    color: #333;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-left: 0;
    font-size: 1.4rem;
    font-weight: 900;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: 'Work Sans', sans-serif;
    
}





/* Utilities */

.container{
    padding: 0 6vh;
}

.menu-wrap {
    position: fixed;
    width: 100%;
    z-index: 5000;
    margin: 0 auto;
    top: 0;
    left: 0;
}
.btn{
    padding: 14px 10px;
    cursor: pointer;
    border: none;
    text-decoration: none;
    line-height: 1.25;
    font-size: .8rem;
    letter-spacing: 1px;
    border-radius: 30px;
    padding: 0.8rem 1.4rem;
    box-shadow: 0 3px 12px 0 rgb(0 0 0 / 0%);
}
.btn-blue{
    background-color:#0078BE ;
    color: #fff;
    font-weight: 400;
    border-radius: 30px
}
.btn-large{
    font-size: ;
    paddinf: 14px 10px;
}
.bold{
    font-weight: bolder;
}
.btn-long {
    padding: 0.8rem 2rem;
}
.mb-0 {
    margin-bottom: 0!important;
}
.mt-3 {
    margin-top: 1rem!important;
}
.mt-4 {
    margin-top: 1.5rem!important;
}
.mb-1{
    margin-bottom: 40px;
}

.section{
    height: auto;
    margin-top: 0;
    text-align: center;
}
.text-right{
    text-align: right!important;;
}




/* Media Query */